
.logo{
	max-width: 60%;
}

.wrapper{
	background-color: #F5FFFA;
}

.jumbotron{
	background-image:  url(images/chairs.jpg);
	 background-size: 100%;
	 height: 100%;
    background-repeat: no-repeat;
}

body{
	background-image: url(images/background1.png);
	display:center;
	background-size: 100%;
	
	
}

.abouttext{
	background-color: #F5FFFA ; 
	opacity: 0.6;


}


h1 img{
	opacity: 1;
}

.abouttext h2{
	color: ;
}
  



.socialmedia{
	padding-top: 1%;
	padding-bottom: 3%;
	
}

.icon{
	background-color: transparent;
	border: none;

	
}

.mediaicon{
	max-width: 60%;
	min-width: 30px;
	opacity: ;

}

.imagebox{

}

