.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}

}

.img img{
  width:50%;
  height:auto;
  padding: 5%;
}

li {
	width: %
}

.mypanel {
	margin: 5%;
	font-family: Helvetica, sans-serif;
}