body{
	background-color:#D8D8D8  ;
}

h4{
	font-family: 'Overlock', cursive;
}
.maincontent{

}


.orange-text1  {

color: #ff6500
}




.well-2{
	max-width: 50%;
}

.work-shops{
	position: ;

}
.workshopsbttn{
	width: 45%;
	height: 50px;
	position: relative;
	margin-top: -10%;
	color: #787878 ;
	font-family: 'Nothing You Could Do', cursive;
	background-color: #ff6500;
	font-size: 2em;
	
	
}

.logo{
	margin-top: 2%; 
	background-color:#B8B8B8 ;
}
.linda-round{
	height: 40%;
	width:40%;
	max-width: 320px;
	margin-left: 5%;
	margin-top: 5%;
	
}

.linda-garden{
	padding-bottom: .5%;
	padding-left: 5%

}
.bottom-nav-text{
	color: #C8C8C8 ;
} 
.bottom-nav-text-name{
	font-size: 1.5em;
}

.quote-text-box{
	margin-left: 30px;
}
.first-text-box-right{
	margin-left: 30px;
	border-top-color: black; 
	
}
.welcome-box{
	border-top-color: black; 
}
.modal-text{
	padding-left: 3%;
}
.modal-content{
	background-color: #F8F8F8 ;
}

p.footer-plain-text{
	font-size: 1.2em;
}

.footer-text{
font-family: 'Nothing You Could Do', cursive;
font-size: 2em;
color: #ff6500;
height: 2em;
}

.orange-text{
	font-family: 'Nothing You Could Do', cursive;
	color: #ff6500;
	font-size: 1.7em;

}

.orange-font{
	font-family: 'Nothing You Could Do', cursive;
	color: #ff6500;

}

.jump-on-board{
	position: relative;
	right:10%;
	 
}
h6{
	font-size:1.1em;
}


.body {
margin:0px;
border:solid 10px #ff6500;

}