body{
	background-color: white;
}

.earth{
	position: absolute;
	z-index: -20;
}



}

.links{

	
}

}

.mediaicon{
	max-width: 10%;
	min-width: 10px;
	opacity: ;

}



.wrapper{
	background-color: #F5FFFA;
	opacity: 0.6;
	
}


	

.abouttext{
	background-color: #F5FFFA ; 
	opacity: 0.6;


}


h1 img{
	opacity: 1;
}

.abouttext h2{
	color: ;
}
  



.socialmedia{
	padding-top: 50%;
	padding-bottom: 3%;
	max-width: ;
	
}

.icon{
	background-color: transparent;
	border: none;

	
}

.mediaicon{
	max-width: 80%;
	min-width: 30px;
	opacity: ;

}

.imagebox{

}

.dragonlogo{
	display: ;
	padding: none;
	max-height: 9%;
}

.modal-title {
	padding-right: 40%;
}
.modal-header {
	padding: 5px;

}

.pages{
	position: relative;
	bottom:970px;
	padding-top: 10%;
	left: 980px;
	max-width: 300px;
}

.beverage {
	position: relative;
	

}
