a {
  text-decoration: none;
}
address {
  color: white;
  text-align: center;
  padding: 3em;
}


body {
  background-color: #343232;
  margin-top: 150px;
}


.btn{
  font-family: "copperplate_becker_med";
  border-radius: 0 0 0 0;
}


button.silver{
}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
width: 100%; 

}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 509px;
  max-height: 500px;
 
}

.center-block {

}

.dfheader {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "copperplate_becker_med";
  margin-top: none;
  max-height: 15%;
}

.dfheader h1 {
    padding-bottom: 0px;
    padding-top: 0%;
    color: white;
    font-size: 4em;
}

.dfheader h2 {
      margin-top: -.39em;
      padding-top: 0px;
      padding-bottom: 1%;
      font-size: 1.8em;
      margin-bottom: 3%;

}

.examples {
  position: relative;

width: 45%;
float: right;
margin:2.5%;

}
.examples-bracelet {
  position: relative;
  top: 50px;

width: 45%;
float: right;
margin:2.5%;






  

}



h3 {
  font-family: "copperplate_becker_med";
  color: white;
  font-size: 1.1em;
  margin-top: 0%;
  padding-top: .5em; 
  text-align: center;

}

h4 {
  font-family:  "copperplate_becker_med";
  color: white;
  font-size: .8em;
   text-align: center;

}

img.primary {
  margin-top: ;
  width: 100%;
  max-width: 25%;
  display:block;
}

img.silver {
  margin-top: 10%;
  width: 100%;
  max-width: 760px;
  margin-bottom: 9%;
}



.lower-bar { 
}

.lower-bar .btn{
  color: white;
  background-color: black;
  border-color: black;
}

.lower-bar .btn:hover{
  background-color: #343232;
  border-color: #343232;
}

.mainlinks{
  margin-bottom: 10%;
}

p {
  color: white;
}

address p .contact{
  font-size: 12px;
}

.selection-bar .btn{
  color: white;
  background-color: #343232;
  border-color: #343232;
  font-size: 1.250em;
}

.textrow {
  margin-bottom: ; 
}
.wrapper {
  position:relative;
  min-height: 519px ;
  max-height: 509px;

}


@media screen and (max-width: 1324px) {
      .container {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      max-width: 509px;
      padding-top: ;
}



}

@media screen and (max-width: 480px) {



    .dfheader h1 {
    padding-bottom: 0px;
    padding-top: 0%;
    color: white;
    font-size: 2em;
}

    .dfheader h2 {
      margin-top: -.3em;
      padding-top: 0px;
      padding-bottom: 1%;
      font-size: 1em;
      margin-bottom: 3%;

}
      body {
        background-color: #343232;
        padding-bottom: 10.000em;
        margin-top: 150px;
        max-height: 1000px;


}
#bottom {
  display: none;
}

}
