address {
  color: white;
  text-align: center;
  padding: 3em;
}

body {
  background-color: #343232;
  padding-bottom: 50.000em;
  margin-top: -2em;
}

p {
  color: white;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  max-height: 700px;
}



.content {
  height: 50%;


}
.dfheader {

  background-color: black;
  color: white;
  text-align: center;
  font-family: "copperplate_becker_med";
  margin-top: none;
}

.dfheader .dfheader {
  padding-bottom: 0px;
  padding-top: 2%;
  color: white;
  font-size: 4em;
}

.dfheader .subheader {
  margin-top: -.3em;
   padding-top: 0px;
  padding-bottom: 1%;
  font-size: 1.8em;
   margin-top: -.3em;
}


img.silver {
  margin-top: ;
  width: 100%;
  max-width: 760px;

}

img.primary {
  margin-top: ;
  width: 100%;
  max-width: 25%;
  display:block;

}



.lower-bar .btn{
  color: white;
  background-color: black;
  border-color: black;

}

.lower-bar .btn:hover{
  background-color: #343232;
  border-color: #343232;
}


.selection-bar .btn{
  color: white;
  background-color: #343232;
  border-color: #343232;
  font-size: 1.250em;
}
.textrow {
  margin-bottom: ; 
}

