address {
	color: white;
	text-align: center;
	padding: 3em;
}

body {
	background-color: #343232;
	padding-bottom: 5.000em;
}


h1 {
	padding: 0.625em;
	padding-bottom: 0px;
	color: white;
}

h2 {
	padding-top: 0px;
	padding-bottom: 0.938em;
	font-size: 1.375em;
}
h3 {
	color: white;
	text-align: center;
}

p{
	color: white;
}

img{
	max-width: 6.719em;

}

.mainlinks {
	width: 26.875em;
	margin-left: -1.23em;
	padding-top: 10%;
}




.bio {
	background-color: #343232;
	border-color: #343232;
}
.container {

	background-color: none;
	width: 28.750em;
	margin-right: auto;
	margin-left: auto;
	padding: none;
	min-height 

}

.examples {
	min-width: 10em;
	margin-bottom: 1.5em;
	margin-top: 3em;
	
	margin-left: 2em;
}

#content {

	background-color: red;
	width: 28.750em;
	
}

#selection-bar {
	padding-top: 10%;
	margin-bottom: 0px;

}

#selection-bar .btn{
	color: white;
	background-color: #343232;
	border-color: #343232;
	font-size: 1.250em;
}



#lower-bar {
	
	padding-top: 5em;
	
}
#lower-bar .btn{
	color: white;
	background-color: black;
	border-color: black;


}

#lower-bar .btn:hover{
	background-color: #343232;
	border-color: #343232;
}



.subheader {
	color: white;
}

#header {

	background-color: black;
	color: white;
	text-align: center;
	font-family: "copperplate_becker_med";

}

#contact{
	width: 15.000em;
	float: left;
	text-align: center;

}

#info{
	background-color: #343232;
	color: black;
	border-color: #343232;
	padding-top: 2em;
}

#about{
	width: 15.000em;
	float: left;
	text-align: center;
}

