html {
	height: 100%;
	margin-bottom: 0.01em;

}


body{
	position:;
	background-color: #87CEFA;
	

}


#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}


.background{
	position:relative;
	left:-120px;
	top:-40px;
}

.layer2{
	position: relative;
	left:-100px;
	top:-70px;
}


body{
	position:;
	background-color: #87CEFA;


}

.background{
	position:relative;
	left:-120px;
	top:-40px;
}

.layer2{
	position: relative;
	left:-100px;
	top:-70px;
}

.lightbox{
	width:0;
	margin: 1em auto;
	padding:.5em;
	background: url('http://placekitten.com/300/200') center, white;
	background-size: cover;
	background-clip: content-box, border-box;
	transition: width 1s, height 1s 1s;
}

.lightbox:hover{
	width: 60%;
	height:300px;

	transition: height 1s, width 1s 1s;
}

#wrap {
        width: 900px;
        margin: 0 auto;
    }
#wrapper{
	-webkit-perspective: 800;

}

.animation{
	animation-interation-count: infinate;
	animation-direction: reverse;
	animation-fill-mode: forward;
}