@-moz-viewport { width: device-width; scale:1;}
@-ms-viewport { width: device-width; scale:1;}
@-o-viewport { width: device-width; scale:1;}
@-webkit-viewport { width: device-width; scale:1;}
@viewport { width: device-width; scale:1;}


html{
	height:100%;
}

body{
	position: absolute;
    background-image: url('../images/newblueskylayer6.jpg');
    background-size: ;
    background-color: #cccccc;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
}

div.wrapper{
	height:100%;
	max-height: 100vh;
	width:100%;
}


div.logo{
	background-image: url('../images/logo/marinalogo.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	margin-left:1em; 
	height: 9em;
	width: 39em;
	z-index: 5;
}

div.sub-logo{
	background-image: url('../images/logo/sublogo.png');
	background-size: 100%;
	position: absolute;
	top: 10em;
	margin-left: 3em;
	background-repeat: no-repeat;
	height: 6em;
	width: 37em;
	z-index: 4;
}

div.marina-layer{
	background-image: url('../images/marinalayerpurple1.png');
	background-size: 119%;
	position: absolute;
	background-repeat: no-repeat;
	top: -13em;
	margin-left: -10em;
	height: 70em;
	width: 231em;
	overflow-x: hidden;
}

div.dragon{
	background-image: url('../images/colordragon2.png');
	background-size: 100%;
	position: absolute;
	background-repeat: no-repeat;
	top: 35em;
	margin-left: 50em;
	height: 8em;
	width: 25em;

}



div.main-buttons {
	position: relative;
	top: 44em;
	/* max-width: 8em; */
	/*padding-left: 35em; */
	width: 30%;
	margin-left:50%;
  min-width: 300px;
}
/* main buttons  */


.menu-button{
  background-color:#FF56DE ;
  border-color:#ED3BFF;
  border-radius: 10px;
 
}
.menu-tab{
  background-color:#71FF77 ;

}

.menu-modal-background{
  background-color: #7FE7FF;

}
.menu-button:hover{

  background-color:#ED3BFF;
   color: #003C51;

}

.menu-close-button{
  background-color: #F09AFF;
}

.menu-close-button:hover{
  background-color: #B424FF;
}
.info-button{
  background-color: #51FF66;
  border-color:#98F100;
  color: #003C51;
}

.info-button:hover{

  background-color:#98F100;

}
.info-modal-background{
  background-color: #E69FFF;
}

li.active{
  background-color: #FF76AF;
}

.calender-button{
  background-color: #FFFB5F;
  border-color:#FFF79F;
  color: #003C51;
}

.calender-button:hover{

  background-color:#FFF79F;

}
.google-calender{
  max-height:80%;
  width:100%;
  min-height: 400px;
}
.calender-panel{
  background-color: #FF76FB;
}

.calender-modal-background{
  background-color: #FFFB5F;
}

.music-panel{
  background-color: #97FF7A;
}




div.right-buttons {
	position: absolute;
	top: 41em;
	margin-left: 96em;
	display: inline-flex;
}

.button-icon:hover{
	border: 2px solid transparent;
}


.button-icon{
	display: inline-block;
	margin: 1em;
}
/*  right buttons  */
div.button-brattleboro{
	background-image: url('../images/trip-advisor-sign.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 123px;
	width: 160px;

}

div.button-kayak{
	background-image: url('../images/kayak-sign.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
}

div.button-gallery{
	background-image: url('../images/gallery-sign.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 121px;
	width: 100px;
}

div.button-trail{
	background-image: url('../images/trail-sign.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;

}


.social-icons:hover{
	border: 2px solid transparent;

}

.social-icons{
	display: inline-block;
	margin: 1em;
}


.social-media {
	position: absolute;
	padding-left: 1em;
	top: 46.5em;

}
/* social media button */
div.facebook-button{
	background-image: url('../images/icons/facebook.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height:  3.5em;
	width:  3.5em;

}
div.youtube-button{
	background-image: url('../images/icons/youtube.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height:  3.5em;
	width:  3.5em;

}
div.twitter-button{
	background-image: url('../images/icons/twitter.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height:  3.5em;
	width: 3.5em;

}
div.tripadvisor-button{
	background-image: url('../images/icons/tripadvisor.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height:  3.5em;
	width:  3.5em;

}

div.yelp-button{
	background-image: url('../images/icons/yelp.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 3.5em;
	width: 3.5em;

}

div.email-button{
	background-image: url('../images/icons/email.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 3.5em;
	width: 3.5em;

}
div.foodnetwork-button{
	background-image: url('../images/icons/foodnetwork.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 3.5em;
	width: 3.5em;

}
