body, html {
  

}
.containter{
	max-height: 100vh;

}
.wrapper-row{
}

.header-row{
te;

}

.dfheader {

}


.subheader-row{

	
}
img.primary {

}

.main4buttons-row{


	
}

.services-row{

}
	
	



.lower-row{


	

}

.subtext-row{


}

 
div#projects {
	
    max-height: 100vh;
    min-height: 100vh;
  
    
}